{% extends "partials/responsive_table.twig" %}

{% set headers = ['ID', 'Код ответа', 'h1', 'title', 'description', 'Дата создания'] %}

{% block table_body %}
    {% for check in checks %}
        <tr>
            <td>{{ check.id }}</td>
            <td>{{ getStatusBadge(check.status_code)|raw }}</td>
            <td>{{ check.h1 }}</td>
            <td>{{ check.title }}</td>
            <td>{{ check.description }}</td>
            <td>{{ formatDate(check.created_at) }}</td>
        </tr>
    {% endfor %}
{% endblock %}
