{% extends "partials/responsive_table.twig" %}

{% set headers = ['ID', 'Имя', 'Последняя проверка', 'Код ответа'] %}

{% block table_body %}
    {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td>
                <a href="/urls/{{ url.id }}">{{ url.name }}</a>
            </td>
            <td>
                {% if url.last_check_created_at is defined %}
                    {{ formatDate(url.last_check_created_at) }}
                {% endif %}
            </td>
            <td>
                {% if url.last_check_status_code is defined %}
                    {{ getStatusBadge(url.last_check_status_code)|raw }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
