{% extends 'layouts/app.twig' %}

{% block title %}Сайты | Анализатор страниц{% endblock %}

{% block content %}
<div class="container-lg mt-5">
    <h1>Сайты</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-hover" data-test="urls">
            <thead>
                <tr>
                    <th class="col-1">ID</th>
                    <th>Имя</th>
                    <th class="col-2">Последняя проверка</th>
                    <th class="col-1">Код ответа</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                    <tr>
                        <td>{{ url.id }}</td>
                        <td>
                            <a href="/urls/{{ url.id }}">{{ url.name }}</a>
                        </td>
                        <td>
                            {% if url.last_check_created_at is defined and url.last_check_created_at is not null %}
                                {{ format_date(url.last_check_created_at) }}
                            {% endif %}
                        </td>
                        <td>
                            {% if url.last_check_status_code is defined and url.last_check_status_code is not null %}
                                {{ get_status_badge(url.last_check_status_code)|raw }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %} 